body{
    margin: 0;
    padding: 0;
    background-color: rgb(118,118,160);
}
.header{
    background-image:url("https://images.pexels.com/photos/709567/pexels-photo-709567.jpeg?auto=compress&cs=tinysrgb&w=600");
    min-height:100px;
}
.header ul li{
    list-style-type: none;
    color: aqua;
    display: inline-block;
    padding: 8px;
}
a{
    text-decoration: none;
    color: aqua;
}
.header ul li:hover{
    background-color: rgb(35,62,66);
    border-radius: 9%;
}
p{
    text-decoration: bold;
}
#navbar ul li{
    padding: 30px;
    background-color: transparent;
    position: fixed;
    
   
}
