body{
    margin: 0;
    padding: 0;
    background-color: rgb(118,118,160);
}
.header{
    background-color: rgb(18,91,104);
}
.header ul li{
    list-style-type: none;
    color: aqua;
    display: inline-block;
    padding: 8px;
}
a{
    text-decoration: none;
    color: aqua;
}
.header ul li:hover{
    background-color: rgb(35,62,66);
    border-radius: 9%;
}
.footer{
    margin-bottom: 50%;
    background-color: rgba(0, 0, 0, 0.733);
    text-decoration-color: rgba(255, 240, 240, 0.849);
}
